<div class="container">
  <div class="light-header">
    <h1 class="heading">Asgard</h1>
<h3 class="descr">A cloud based community for you to<br> connect to fellow Asgardian's</h3>
<div *ngIf="afAuth.authState | async as user">
  Welcome {{user.displayName}} !!!
</div>
<button class="action-button" *ngIf="(afAuth.authState | async)" (click)="signOut()">Sign-Out</button>
<img src="assets/images/banner-image.png" alt="robot image" class="asgardian">
  </div>
  <div class="white-header">
    <h1>Sign up to Asgard</h1>
    <h5>Already have an account? <a href="#">Log in</a></h5>
    <div class="buttons">
      <button class="btn"  (click)="signIn()"><img src="assets/images/google.png" alt="google logo" class="google-icon"  >Sign up with Google</button>
      <div class="fcb"><fa-icon [icon]="faFacebookSquare" transform="grow-10" [ngStyle]="{ color: '#3b5998' }" (click)="signInFb()"></fa-icon></div>
      <div class="fcb"><fa-icon [icon]="faApple" transform="grow-15" ></fa-icon></div>
      
  </div>
  <form  class="add-form" >
    <div class="form-control">
        <label for="names">Full name</label>
        <input type="text" name="names" id="text" placeholder="Joy Orama"/>
    </div>

    <div class="form-control">
        <label for="email">Email</label>
        <input type="text" name="email" [(ngModel)]="email" placeholder="e.g swaggu@hotcake.com"/>
    </div>

    <div class="form-control">
      <label for="password">Password</label>
      <input type="text" name="password" [(ngModel)]="password"/>
  </div>

    <div class="form-control form-control-check">
      <input type="checkbox" name="terms" id="terms" class="check" />
        <label for="terms" class="terms">By creating account, you agree to accept our <a href="#">Privacy Policy</a> <a href="#">Terms of Service</a> and <a href="#">Notification settings</a></label>
        
    </div>

    <input type="submit" value="Create Account" (click)="signInEmail()" class="btn btn-block"/>
</form>


</div>
</div> 



